


<div class="container">
  <ul class='index-list'>
    <% @interviews.each do |int| %>
    <li class='index-li'>
      <div>
        <% if session[:id] %>
          <strong><a href="interviews/<%= int.id %>">Whiteboard Interview #<%= int.id %></a></strong>
        <% else %>
          <strong>Whiteboard Interview #<%= int.id %></strong>
        <% end %>
      </div>
      <div>
        Applicant: <%= int.applicant.username %>
      </div>
      <div>
        Interviewer: <%= int.interviewer.username %>
      </div>
      <div>
        Challenge: <%= int.challenge.question %>
      </div>
    </li>
    <% end %>
  </div>
  </ul>
