<p>
  Well, hello there!
</p>
<p>
  We're going to now talk to the GitHub API. Ready?
  <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">Click here</a> to begin!</a>
</p>
<a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">Login with GitHub</a>


<div class='container new-interiew-box'>
    <ul class='index-list'>
      <li class='index-li script'>
        Start a white boarding session!
      </li>
    </ul>
  <div>
    <form id='interview-form' method='POST' action='/restaurants'>
    <label for="int[applicant]">Applicant Username:</label>
    <input type="text" name="int[applicant]">
    <label for="int[challenge_id]">Challenge:</label>
    <select name="int[challenge]">
      <% @challenges.each do |challenge| %>
      <option value="<%= challenge.id %>"><%= challenge.title %></option>
      <% end %>
    </select>
    <label for="int[address]">Address:</label>
    <input type="text" name="int[address]"><br>
    <input type="hidden" name="int[interviewer_id]" value='<%= session[:id] %>'>
    <input class='big-link' type="submit" value="Start Interview" />
    </form>
  </div>

</div>

<!-- 
joel-g 6cf09610bf76133d1e4c -->
